<!doctype html>
<html>
<head>
    <meta charset="utf-8"> 
    <title>Registro de Barrio</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
    <form method="#" th:action="#" th:object="#" class="container">  

        <div class="form-group">   <label class="control-label" for="nombreBarrio">Nombre de Barrio:</label>    <input class="form-control" type="text" name="nombreBarrio" placeholder="Nombre de Barrio" id=nombreBarrio th:field="${#}"> </div>

        <div>   <input class="btn btn-primary" href="#" type="submit" value="Registrar Barrio" name="registroBarrioCompleto" th:value="${#}"> </div>
        
    </form>
</body>   
<footer>
</footer>
</html>